.cut-data-section {
  display: flex;
  gap: 300px; /* Space between the two display-box-container elements */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 200px;
}

.cut-data-section .display-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  
}

.cut-data-section .display-box {
  background-color: #4d4c53; /* Grey box color */
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.display-label {
  font-size: 18px;
  color: #ccc;
  margin-bottom: 5px; /* Space between label and box */
}


.unit {
  font-size: 0.8rem; /* Make the "in" smaller */
  vertical-align: top; /* Align the smaller text slightly higher */
  margin-left: 2px; /* Add a bit of spacing between the number and "in" */
  color: #ccc; /* Optional: Change the color for better visual distinction */
}

 .display-box {
  background-color: var(--color-dimgray);
  border-radius: var(--br-8xs);
  padding: 12px;
  width: 200px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: white;
  margin-bottom: 10px;
  position: relative;
}

 .display-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
} 

.display-box-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.display-input {
  background-color: transparent; /* Makes the background transparent */
  border: none; 
  width: 200px;
  text-align: center;
  
  font-size: 32px;
  color: whitesmoke;
  outline: none;
             /* Removes the outline when focused */
}
