.image-container  {
    display: flex;
    align-items: center;
    gap: 10px;
  }

.load-material-icon {
    width: 85px;
    height: 75px;
  }

.load-material-overlay {
    width: 10px;
    height: 40px;
    position: relative;
    right: 57px;
    top: 2px;
    align-items: center;
  
  }


  
  .light {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
/*   
  .yellow {
    background-color: yellow;
  }
  
  .red {
    background-color: red;
  } */
  
  .light-label {
    color: white;
    font-size: 14px;
  }
  