.input-button {
    background-color: #0370be;
    position: absolute;
    right: -300px;
    border: none;
    border-radius: 30px;
    padding: 10px;
    color: black;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    width: 170px;
    height: 50px;
    
    margin-right: 80px;
    margin-top: 40px;
 
    justify-content: center;
  }
  
  .input-button:hover {
    background-color: #0492f8;
  }
  