/* relaybuttons { */
    /* transition: transform 0.2s ease-in-out; */
    /* color: black;
    width: 150px;
    height: 60px;
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
    transition: background-color 1.3s, transform 2.2s;
    cursor: pointer;
    outline: none;
  }
  
  button:active {
    transform: scale(0.95);
  }
   */